<!DOCTYPE html>
<html ng-app='app' lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular test</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link rel = "stylesheet" href = 'font-awesome/css/font-awesome.min.css'>
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/main.js"></script>
</head>
<body>
  <div class="container">
    <h1><span class='label label-primary'>Hello world</span></h1>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div ng-app>
          <input type="text" ng-model='hello' class='form-control'>
          <br>
          <input type="text" ng-model='world' class='form-control'>
        </div>
      </div>
      <div class="col-md-6">
        {{hello + ' ' + world}}
      </div>
    </div>
    <h1>Controller</h1>
    <div class="row">
      <div class="col-md-6">
        <div ng-controller="myCtrl">
          <input type="text" ng-model='myBook' class='form-control'>
          <br>
          {{myBook}}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
